.repository-container .section-title {
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.repository-container .heading-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.repository-container .heading-container button {
  border-radius: 5px;
  background: white;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
  cursor: pointer;
}

.repository-container .heading-container button:hover {
  background: rgb(236, 236, 236);
}


.list-container {
  display: grid;
  width: 80%;
  margin: 1rem auto 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
}


@media(max-width: 768px) {
  .list-container {
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 40px;
    row-gap: 20px;
  }
  .repository-container .heading-container  {
    width: 100%;
  }
}