@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;900&display=swap');
:root {
  --bg-color: #f3f3f3;
  --accent-color: #1074e7;
  --black: #000000;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
